<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <div >hello, {{request.user.first_name}}</div>
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
    <p><a href="{% url 'password_change' %}">Change password</a></p>
    <a href="{% url 'logout' %}?next={% url 'index' %}">Logout</a>
  </body>

  {{ redirect_to_login_immediately }}

</html>
